sqlmesh[web,postgres,github,databricks]==0.118.7
pytest==8.1.1
pyspark==3.5.1
# pandas==2.2.2
setuptools==70.0.0

#https://pypi.org/project/databricks-connect/15.1.0.dev0/
#https://docs.databricks.com/en/dev-tools/databricks-connect/python/index.html#requirements
# requires 3.10 python for version 14 of databricks-connect
databricks-connect==14.3.2
# databricks-connect==15.4.0